:root {
    font-size: 16px;
    font-family: 'Optima', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    height: 100svh;
}

#main-box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#main-list {
    padding: 2rem;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    /*border-left: black solid 1px;*/
    /*border-right: black solid 1px;*/
    list-style-type: none;
}

#main-list li {
    font-size: 5rem;
    transition: transform ease-in-out 0.2s;
    margin: 1rem;
}

@media (max-width: 500px) {
    #main-list li {
        font-size: 3.5rem;
    }
}

#main-list li:hover {
    /* transform: scale(0.95); */
}

#main-list li a {
    text-shadow: #91a66d 0 0 0;
    text-decoration: none;
    color: #3d0404;
    transition: color 0.1s ease-in-out, text-shadow 0.15s ease-in-out;
}

#main-list li:nth-child(odd) a:hover {
    text-shadow: rgba(54, 1, 1, 0.41) 20px 0;
}

#main-list li:nth-child(even) a:hover {
    text-shadow: rgba(54, 1, 1, 0.41) -20px 0;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: blur(2px);
}

#c {
    position: fixed;
    font-size: 1.5rem;
    bottom: 0;
    right: 0;
    margin: 1.5rem;
}

@media (max-width: 500px) {
    #c {
        margin: 0;
        font-size: 1rem;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    video {
        left: 30%;
    }
}
