:root {
    font-size: 16px;
    font-family: 'Inconsolata', monospace;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    height: 100svh;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome, Edge, Opera and Firefox */
}

#main-list {
    /*padding: 1rem;*/
    /*border-top: black solid 2px;*/
    /*border-bottom: black solid 2px;*/
    list-style-type: none;
    transition: padding-top 0.2s ease-in-out, padding-bottom 0.2s ease-in-out;
}

#main-list:hover {
    /*padding-top: 3.5rem;*/
    /*padding-bottom: 3.5rem;*/
}

/*#main-list li:nth-child(odd) {*/
/*    text-align: right;*/
/*}*/

#main-list li {
    font-size: 3rem;
    transition: transform ease-in-out 0.2s;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: right;
}

@media (max-width: 500px) {
    #main-list li {
        font-size: 2.25rem;
    }
}


#main-list li a {
    text-decoration: none;
    color: #000000;
    transition: color 0.25s ease-in-out;
    letter-spacing: 19px;
}

#main-list li a:hover {
    color: rgb(196, 22, 40);
}


#c {
    position: fixed;
    font-size: 1.25rem;
    bottom: 0;
    right: 0;
    margin: 2.5rem;
}

@media (max-width: 500px) {
    #c {
        display: none;
        margin: 0;
        font-size: 1rem;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}
